.littleHome {
   
    padding-left: 18.75px;
    color: #0F4C81;
    font-size: 16px;
    display: flex;
    font-weight: 15px;
    line-height: 15px;
    align-items: center;
    margin-top: 20px;   
    margin-left: 180px;
     
}
.littleHome a {
    color:#0F4C81
}

.littleHome p {
    margin: 1px
}

.tittle {
    margin-top: 20px;
    padding-left: 200px;
}

