.littleHome {
    padding-left: 300px;
    color: #0F4C81;
    font-size: 10px;
    display: flex;
    font-weight: 10px;
    line-height: 15px;
    align-items: center;
    margin-top: 20px;   
     
}
.littleHome a {
    color:#0F4C81
}

.littleHome p {
    margin: 1px
}

.tittle {
    margin-top: 20px;

    padding-left: 300px;
}

