main {
    display: flex;
    justify-content: center;

    
    padding: 3rem 0;
}

.card-post {
    width: 50rem;
    border : 1px solid rgb(255, 255, 255);
    padding-left: 1px;
    border-radius: 15px;
    margin-right: 32.5rem;
    
}

.card-post h1{
    font-family: Raleway;
    font-weight: 800;
    text-align: center;

    color: #000000e1;

    font-size: 3rem;
    margin-bottom: 1px;
}



.card-body-post {
    
    margin-top: 1px;

}

.fields {
    margin-bottom: 20px;
    margin-left: 10px;
    
    
}

label { 
    width: 600px;
    display:block;
    font-size: 1.2rem;
    color: #000000;
    font-family: Raleway;
}

input, textarea {
    width: 75%;
    border: #000000;
    border: 0;
    outline: none;
    font-size: 1.2rem;

    padding-left: 15px;
}

input {
    height: 80%;
}

textarea {
    height: 190px;
    resize: none;
    
    padding-top: 10px;
}

select {
    display: flex;
    justify-content: flex-end;
    border: solid 1px #000000;
}
.btn-post{
    margin-top: 30px;
    text-align: left;

}

fieldset {
    border-radius: 5px;
    
}

.value {
    width: 350px;
}
.data {
    width: 350px;
    padding: 8px 1px;
    
}
.options { 
    border: none;
    padding: 8px 15px;
    width: 100%;
    outline: none;
    
}
.photobox  {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed gray;
    width: 150px;
    height: 150px;
    position: relative;

}
.photobox img {
    
    width: 75px;
    height: 75px;
}
.photoinput {
    width: 90%;
    cursor: pointer;
    height: 100%;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    right : 0;
    opacity: 0;

}

.btn-post button{
    font-family: Raleway;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 5px 50px;
   
    background-color: #0F4C81;;
    border: 0;
    border-radius: 10px;
    cursor: pointer;

}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

.error-message {
    color: rgb(240, 47, 47);
}