.listaProduto {
  border: solid 1px red;
  margin: 0% auto;
  display: flex;
  width: 1000px;
}

.listaProduto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.informacoesProduto {
  display: flex;
  gap: 50px;
}

.informacoesProduto .productBox {
  border: 2px solid rgb(0, 0, 0);
}
.nomeProduto {
  border: 2px solid purple;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}

.marcaProduto {
  border: 2px solid blue;
  font-weight: medium;
  font-size: 20px;
  color: gray;
  padding-bottom: 0;
  margin-bottom: 0px;
  margin-top: 1px;
}

.precoProduto {
  border: 2px solid blue;
  padding-bottom: 0;
  margin: 0px;
  color: #0F4C81;
  font-weight: bold;
  font-size: 32px;
  margin-top: 15px;
}

.corProduto {
  color: gray;
  font-weight: medium;
  font-size: 20px;
  margin: 10px;
  padding-bottom: 0;
  margin-bottom: 0px;
  margin-top: 20px;
}

.listaProduto .icones {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
