
.container .produto { 
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;

}

.container {
  margin: 0% auto;
  
  width: 1000px;
  margin-bottom: 70px;
  margin-top: 15px;

}
