
.container .produto { 
  display: flex;
  
  align-items: center;
  justify-content: space-between;

}

.container {
  margin: 0% auto;
  border: 1px solid yellow;
  width: 1000px;

}
.listaProduto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.informacoesProduto {
  display: flex;
  gap: 50px;
}
.informacoesProduto .productBox {
  border: 2px solid rgb(0, 0, 0);
}
.nomeProduto {
  border: 2px solid purple;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.marcaProduto {
  border: 2px solid blue;
  font-weight: medium;
  font-size: 20px;
  color: gray;

}

.precoProduto {
  border: 2px solid blue;
  padding-bottom: 0;
  margin: 0px;
  color: black;     
  font-weight: bold;
  font-size: 32px;
  

}

.corProduto {
  color: gray;
  font-weight: medium;
  font-size: 20px;
}

.listaProduto .icones {

  display: flex;
  justify-content: space-between;
  gap: 12px;
}
